
p,
h2,
h1 {

    color: #070707;
}

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

/*header menu*/

.wrapper-content {
    max-width: 944px;
    margin: 0 auto;
    display: block;
}

@media(max-width:944px) {
    .wrapper-content {
        max-width: 821px;
    }
}

@media(max-width:821px) {
    .wrapper-content {
        max-width: 767px;
    }
}

@media(max-width:767px) {
    .wrapper-content {
        max-width: 499px;
    }
}

@media(max-width:499px) {
    .wrapper-content {
        max-width: none;
    }
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
    justify-content: space-between;
}

.menu-button {
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 32px;
}

.menu-button-click {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    font-family: 'Rowdies', cursive;
    color: black;
    position: relative;
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}

.menu-button-click::after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #060706;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

.menu-button-click:hover:after,
.menu-button-click:focus:after {
    width: 100%;
}

.menu-button-click_afer {
    color: red;
}

/*main-window*/
.logo-main-design {
    display: block;
    margin-top: 40px;
    /* background-image: url("../img/background-2.jpg"); */
}

.main-design-present {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 54px;
}

.denis-novik {
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    width: 123.51px;
}

.name-design {
    font-size: 18px;
    line-height: 22px;
    width: 165px;
}

.language-window-click {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Rowdies', cursive;
    color: #070707;
}

.language-window-click:first-child {
    border-bottom: 2px solid #070707;
    padding-bottom: 3px;
}

.language-window-click:hover {
    color: #828282;
    text-shadow: 0 0 30px #070707;
}

.language-window {
    -webkit-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    transform: rotate(180deg);
}


@media(max-width:194px) {
    .language-window {
       transform: none;
    }
}

/* анимация на карттинке */
.background-logo-container {
    min-height: 388px;
    max-width: 946px;
    overflow: hidden;
}

.background-logo {
    max-width: 100%;
}

.boxImg {
    overflow: hidden;
    transition: .5s;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.container:before,
.container:after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #676791;
    opacity: .1;
    transition: 1s;
}

.container:before {
    transform: translateX(-130%) rotate(40deg);
}

.container:after {
    transform: translateX(330%) rotate(40deg);
}

.text {
    position: absolute;
    top: 20%;
    color: #e9e8e8;
    text-align: center;
    z-index: 10;
}

.text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    transform: scale(0);
    transition: .5s;
    color: rgb(248, 245, 245);
}

.text p {
    font-size: 18px;
    margin: 0 100px;
    text-align: justify;
    transform: scale(2);
    transition: .5s;
    opacity: 0;
    color: rgb(248, 245, 245);
}

a.bt {
    position: absolute;
    top: 180%;
    left: 43%;
    color: #e9e8e8;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #e9e8e8;
    padding: 10px 30px;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
}

a.bt:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -70px;
    height: 50px;
    width: 50px;
    background: linear-gradient(95deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    transform: skewX(-55deg);
}

a.bt:hover::before {
    left: 150px;
    transition: .5s ease-in-out;
}

a.bt:active {
    border: 2px solid #16188b;
}

.boxImg:hover img {
    transform: rotate(0deg) scale(2);
    filter: blur(2px);
    transition: .5s;
}

.boxImg:hover a.bt {
    opacity: 1;
    transition: .5s;
}

.boxImg:hover .container::before {
    transform: translateX(155%) rotate(45deg) scale(2);
    transition: .5s;
    opacity: .6;
}

.boxImg:hover .container::after {
    transform: translateX(60%) rotate(45deg) scale(2);
    transition: .5s;
    opacity: .6;
}

.boxImg:hover .text h1 {
    transform: scale(1);
}

.boxImg:hover .text p {
    transform: scale(1);
    opacity: 1;
}



/*about-start*/
.aboutMe {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 55px;
}

.about-title {
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 34px;
}

.about-text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 40px;
    /* max-width: 485px; */
}

._background {
    background: #F6F6F6;
    height: 506px;
    margin-bottom: 91px;
}

/*skills_start*/
.skills {
    padding-bottom: 110px;
}

.title-skills {
    text-align: center;
}

.title-skills_text {
    padding-bottom: 40px;
}

.text-skills_content {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    padding-bottom: 84px;
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.skills-icon_image {
    padding-bottom: 24px;
    background: none;
}

.skills-icon_text {
    padding-bottom: 41px;
}

._first {
    padding-top: 18px;
}

/*portfolio*/
.portfolio {
    background: #F6F6F6;
    text-align: center;
    padding-top: 112px;
}

.title-portfolio_text {
    padding-bottom: 47px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.portfolio-content_image {
    padding-bottom: 45px;
    max-width: 100%;
}

.portfolio-content_text {
    padding-bottom: 99px;
}

.portfolio-content_link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio-content_link:last-child {
    padding-bottom: 96px;
}

/*footer*/
.footer-content {
    text-align: center;
}

.footer-content_text {
    padding-top: 114px;
    display: block;
    margin-right: 40px;
}

.footer-content_title {
    font-size: 34px;
    line-height: 42px;
    color: #070707;
    padding-bottom: 20px;
}

.footer_content__text {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding-bottom: 29px;
}

.send-massage-link {
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.send_massage {
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    background-color: #070707;
    width: 180px;
    height: 42px;
    margin-bottom: 84px;
    border: 0;
    border-radius: 70px 70px 70px 70px;
    transition: 0.5s ease;
}

.send_massage:hover {
    background-color: #e9e8e8;
    cursor: pointer;
    color: #070707;
    box-shadow: 0 0 30px #070707;
    transition: 0.5s ease;
}

.footer-content_icon_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.footer-content-icon-container {
    /* width: 342px; */
    text-align: center;
    /* margin-left: 300px; */
}

.footer-content_icon_item {
    padding-right: 62px;
    padding-bottom: 45px;
    font-size: 14px;
    line-height: 17px;
}
.icon_hh{
    padding-top: 3px;
    width: 40px;
    height: 40px                                                        ;
}

.footer-content_end {
    color: #828282;
}